body {
    margin: 40px;
}

.sidebar {
    grid-area: sidebar;
}

.sidebar2 {
    grid-area: sidebar2;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    background-color: #fff;
    color: #444;
    margin: auto
}

/* mobile */
.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    "header"
    "sidebar"
    "content"
    "footer"
}

/* screen */
@media only screen and (min-width: 600px) {
    .wrapper {
        grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas:
        "header  header  header"
        "sidebar content content"
        "footer  footer  footer";
        max-width: 1200px;
    }
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}

.header,
.footer {
    background-color: #999;
}

.sidebar2 {
    background-color: #ccc;
    color: #444;
}